@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
<h2>Bem vindo ao seu novo aplicativo</h2>

Você gosta de aprender? Então você está no lugar certo! Este é um aplicativo de exemplo construído com o ASP.NET Core e o Blazor.
				Oi