@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-4 flex justify-center items-center bg-gray-100 border-b border-black h-14">
            <span class="text-lg text-amber-200 sans text-center absolute left-1/2 transform -translate-x-1/2 font">
            Welcome to Cairnomicon
            </span>
            <button class="btn btn-primary">
                Profile
            </button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>