@inherits LayoutComponentBase
@inject UserSession UserSession
@inject HttpClient Http
@inject NavigationManager NavigationManager
@using Projeto4pServer.DTOs

<header class="bg-black fixed top-0 left-0 w-full flex items-center justify-between p-2 border-b border-white">
    <div class="flex items-end p-2">
        <NavLink href="/" class="text-4xl font-bebas text-white hover:underline">
            //:TEMERITY
        </NavLink>
    </div>
    <div>
        @if (isLoggedIn)
        {
            <button class="ring-2 text-white rounded px-5 py-2 mr-2 text-bold cain-button" @onclick="ShowLogoutConfirmation">Welcome, @AtualUserName!</button>
        }
        else
        {
            <button class="ring-2 text-white rounded px-5 py-2 mr-2 text-bold cain-button" @onclick="ToggleLoginPopup">Login</button>
        }
        @if (isLogoutConfirmationVisible)
        {
            <div class="fixed inset-0 flex bg-opacity-50 backdrop-blur-md items-center justify-center">
                <div class="bg-neutral-900 p-6 rounded shadow-lg">
                    <h2 class="text-lg text-gray-50 font-bold mb-4">Are you sure you want to log out?</h2>
                    <div class="flex justify-end">
                        <button class="bg-red-950 hover:bg-red-900 text-white px-4 py-2 rounded mr-2" @onclick="ConfirmLogout">Yes, Log Out</button>
                        <button class="bg-gray-700 hover:bg-gray-600 text-white px-4 py-2 rounded" @onclick="CancelLogout">Cancel</button>
                    </div>
                </div>
            </div>
        }
    </div>
</header>
<main class="pt-16">
    @Body
</main>

@if (isLoginPopupVisible)
{
    <div class="fixed inset-0 flex bg-opacity-50 backdrop-blur-md items-center justify-center">
        <div class="bg-neutral-900 p-6 rounded shadow-lg">
            @if (isRegistering)
            {
                <h2 class="text-lg text-gray-50 font-bold mb-4">Register</h2>
                <form @onsubmit="HandleRegister">
                    <div class="mb-4">
                        <label class="block text-white">UserName</label>
                        <input type="text" class="w-full border rounded text-white px-3 py-2" @bind="username" />
                    </div>
                    <div class="mb-4">
                        <label class="block text-white">Email</label>
                        <input type="email" class="w-full border rounded text-white px-3 py-2" @bind="email" />
                    </div>
                    <div class="mb-4">
                        <label class="block text-white">Password</label>
                        <input type="password" class="w-full border rounded text-white px-3 py-2" @bind="password" />
                    </div>
                    <div class="text-red-500">@errorMessage</div>
                    <div class="flex justify-end">
                        <button class="text-white text-sm underline hover:text-cyan-400 mr-2" @onclick="ToggleRegistering">Already have an account? Log in!</button>
                        <button type="button" class="bg-red-950 hover:bg-red-900 text-white px-4 py-2 rounded" @onclick="ToggleLoginPopup">Close</button>
                        <button type="submit" class="bg-indigo-950 hover:bg-indigo-900 text-white px-4 py-2 rounded ml-2">Register</button>
                    </div>
                </form>
            }
            else
            {
                <h2 class="text-lg text-gray-50 font-bold mb-4">Login</h2>
                <form @onsubmit="HandleLogin">
                    <div class="mb-4">
                        <label class="block text-white">Email</label>
                        <input type="text" class="w-full border rounded text-white px-3 py-2" @bind="loginInput" />
                    </div>
                    <div class="mb-4">
                        <label class="block text-white">Password</label>
                        <input type="password" class="w-full border rounded text-white px-3 py-2" @bind="password" />
                    </div>
                    <div class="text-red-500">@errorMessage</div>
                    <div class="flex justify-end">
                        <button class="text-white text-sm underline hover:text-cyan-400 mr-2" @onclick="ToggleRegistering">Not registered? Sign in!</button>
                        <button type="button" class="bg-red-950 hover:bg-red-900 text-white px-4 py-2 rounded" @onclick="ToggleLoginPopup">Close</button>
                        <button type="submit" class="bg-indigo-950 hover:bg-indigo-900 text-white px-4 py-2 rounded ml-2">Login</button>
                    </div>
                </form>
            }
        </div>
    </div>
}

@code {
    private bool isLoginPopupVisible = false;
    private bool isRegistering = false;
    private bool isLogoutConfirmationVisible = false;

    private bool isLoggedIn = false; // Indica se o usuário está logado
    private string username = string.Empty; // Para registro e exibição

    public string AtualUserName { get; set; } = string.Empty; // Nome de usuário atual

    private string loginInput = string.Empty; // Novo campo para login (username ou email)


    private string email = string.Empty; 
    private string password = string.Empty;
    private string errorMessage = string.Empty;
    private Guid? userId = null;

    private async Task HandleRegister()
    {
        try
        {
            var response = await Http.PostAsJsonAsync("api/User/register", new { userName = username, Email = email, Password = password });
            if (response.IsSuccessStatusCode)
            {
                // Registro bem-sucedido
                var result = await response.Content.ReadFromJsonAsync<dynamic>();
                Console.WriteLine($"Registration successful: {result}");
                ToggleRegistering();
                errorMessage = "Registrado com Sucesso!";
            }
            else
            {   
                var errorContent = await response.Content.ReadAsStringAsync();
                errorMessage = "Registration failed. Please try again.";
            }
        }
        catch (Exception ex)
        {
            errorMessage = $"An error occurred: {ex.Message}";
        }
    }

    private async Task HandleLogin()
    {
        try
        {
            var response = await Http.PostAsJsonAsync("api/User/login", new { userName = loginInput, Email = loginInput, Password = password });
            if (response.IsSuccessStatusCode)
            {
                // Login bem-sucedido
                var result = await response.Content.ReadFromJsonAsync<LoginResponse>();
                if (result != null)
                {
                    email = result.Email; // Obtém o email do retorno da API
                    username = result.UserName; // Obtém o username do retorno da API
                    isLoggedIn = true; // Marca como logado
                    AtualUserName = username; // Atualiza o nome de usuário atual
                    userId = result.UserId;
                    UserSession.UserId = userId;
                    UserSession.UserName = AtualUserName;
                    ToggleLoginPopup();
                }
            }
            else
            {
                var errorContent = await response.Content.ReadAsStringAsync();
                errorMessage = "Login failed. Please check your credentials.";
            }
        }
        catch (Exception ex)
        {
            errorMessage = $"An error occurred: {ex.Message}";
        }
    }

    private void ToggleLoginPopup()
    {
        isLoginPopupVisible = !isLoginPopupVisible;
        if (!isLoginPopupVisible)
        {
            isRegistering = false; // Reset to login when popup is closed
            username = string.Empty;
            email = string.Empty;
            password = string.Empty;
            errorMessage = string.Empty;
        }
    }

    private void ToggleRegistering()
    {
        isRegistering = !isRegistering;
        username = string.Empty;
        email = string.Empty;
        password = string.Empty;
        errorMessage = string.Empty;
    }

    private void ConfirmLogout()
    {
        isLoggedIn = false; // Define o estado como deslogado
        username = string.Empty; // Limpa o nome do usuário
        email = string.Empty; // Limpa o email
        password = string.Empty; // Limpa a senha
        errorMessage = string.Empty; // Limpa mensagens de erro
        isLogoutConfirmationVisible = false; // Fecha a confirmação
        UserSession.UserId = null; // Limpa o ID do usuário na sessão
        NavigationManager.NavigateTo("/");
    }

    private void ShowLogoutConfirmation()
    {
        isLogoutConfirmationVisible = true;
    }

    private void CancelLogout()
    {
        isLogoutConfirmationVisible = false;
    }
}
