@page "/"

<PageTitle>Home</PageTitle>

<div class="flex flex-col items-center justify-center min-h-screen min-w-full text-fuchsia-500 bg-black">
    <h1 class="text-8xl mb-6 font-bebas-neue text-white">
    Welcome to //:Temerity
    </h1>
    <img src="Art\Caimmm.webp" class="w-1/4 h-auto rounded mb-6" />
    <p class="text-center font-bebas-neue text-">Kill Sin. Behead Sin. Roundhouse kick a Sin into the concrete. Slam dunk a CAT 1 Sin into the trashcan. Crucify filthy Sin. Defecate in a Sin's food. Launch Sin into the sun. Stir fry Sinin a wok. Toss Sin into active volcanoes. Urinate into a Sin gas tank. Judo throw Sin into a wood chipper. Twist Sin's heads off. Report Sin to the STF. Karate chop Sin in half. Curb stomp brain damaged Sin. Trap Sin in quicksand. Crush Sin in the trash compactor. Liquefy Sin a vat of acid. Eat Sin(?). Dissect Sin(YES). Exterminate Sin in the piss shower. Stomp Sin skulls with steel toed boots. Cremate Sin in the oven. Lobotomize Sin. Mandatory 6x1 to Sin. Grind Sin in the washing machine. Drown Sin in fried chicken grease. Vaporize Sin with a ray gun. Kick Cat 8 Sin down the stairs. Feed Sin to alligators. Slice Sin with a katana.</p>
</div>

<footer class="text-center py-4 bg-black border-t border-black">
    <p class="text-sm text-white">© 2025 <a href="https://seriedadeinc.com" class="text-fuchsia-500 hover:underline">seriedadeinc.com</a>. No rights reserved.</p>
</footer>