@page "/"
@using Microsoft.AspNetCore.Components

<PageTitle>Home</PageTitle>

<main>
  <div class="flex min-h-screen min-w-full flex-row justify-start bg-black text-purple-800">
    <div class="mt-24 ml-6 flex flex-col items-start gap-2">
      <NavLink href="/New-Exorcist" class="cain-button h-18 w-120 rounded bg-black px-4 py-5 pl-4 text-left text-3xl text-white font-bebas ring-2 ring-white">
        NEW EXORCIST
      </NavLink>
      <span class="text-gray-600">
        >>Make a new character
      </span>
      <br>
      <NavLink href="/Agents" class="cain-button h-18 w-120 rounded bg-black px-4 py-5 pl-4 text-left text-3xl text-white font-bebas ring-2 ring-white">
        AGENTS
      </NavLink>
      <span class="text-gray-600">
        >>Browse your exorcists
      </span>
      <br>
      <NavLink href="/Sin-Registry" class="cain-button h-18 w-120 rounded bg-black px-4 py-5 pl-4 text-left text-3xl text-white font-bebas ring-2 ring-white">
        SIN REGISTRY
      </NavLink>
      <span class="text-gray-600">
        >>Register and track your sins
      </span>
    </div>
    <div class="hidden sm:flex flex-grow items-start justify-center ml-6 mt-0">
      <h1 class="font-rubikDirt italic text-center text-[92px] me-24 max-w-full">
        Until<br>
        the Stain<br>
        has been<br>
        Wiped<br>
        Away
      </h1>
    </div>
  </div>
</main>