@page "/"

<PageTitle>Home</PageTitle>

<div class="flex flex-col items-center justify-center min-h-screen min-w-full text-amber-400 bg-rose-950">
    <h1 class="text-4xl font-sans mb-6 ">
        Wellcome to Cainomicon! 
    </h1>
    <img src="Art\DarkestTorch.png" class="w-1/4 h-auto rounded mb-6" />
    <p class="text-center font-sans text-amber-600">A fanmade Cairn sheet maker and compendium!</p>
</div>

<footer class="text-center py-4 bg-black border-t border-black">
    <p class="text-sm text-white">© 2025 <a href="https://seriedadeinc.com" class="text-blue-500 hover:underline">seriedadeinc.com</a>. No rights reserved.</p>
</footer>