@page "/"
@using Microsoft.AspNetCore.Components

<PageTitle>Home</PageTitle>

<main>
  <div class="flex min-h-screen min-w-full flex-row justify-start bg-black text-purple-800">
    <div class="mt-24 ml-6 flex flex-col items-start gap-2">
      <button class="cain-button h-18 w-120 rounded bg-black px-2 py-3 pl-3  text-left text-3xl text-white font-bebas ring-2 ring-white">NEW EXORCIST</button>
      <span class="text-gray-600">
        >>Make a new charcter
      </span>
      <br>
      <button class="cain-button h-18 w-120 rounded bg-black px-2 py-3 pl-3  text-left text-3xl text-white font-bebas ring-2 ring-white">AGENTS</button>
      <span class="text-gray-600">
        >>Browse your exorcists
      </span>
      <br>
      <button class="cain-button h-18 w-120 rounded bg-black px-2 py-3 pl-3 text-left  text-3xl text-white font-bebas ring-2 ring-white">FIELD GUIDE</button>
      <span class="text-gray-600">
        >>Adiotional operational information
      </span>
    </div>
    <div class="items-top mt-6 ml-6 flex flex-grow justify-end">
      <h1 class="font-rubikDirt italic text-center text-[92px] mr-6">
        Until<br>
        the Stain<br>
        has been<br>
        Wiped<br>
        Away
      </h1>
    </div>
  </div>
</main>