@page "/New-Exorcist"
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Forms
@using System.Net.Http
@using System.Net.Http.Json
@using Projeto4pServer.DTOs
@inject UserSession UserSession
@inject HttpClient Http

<PageTitle>New Exorcist</PageTitle>

<EditForm Model="@character" OnValidSubmit="RegisterExorcist">
    <DataAnnotationsValidator />


    <div class="grid grid-cols-3 grid-rows-[auto_auto_1fr] gap-2 p-4 text-purple-500 bg-black min-h-screen font-mono">
      <div class="border border-white p-2 space-y-2">
        <h2 class="font-bold text-purple-400">Registered Exorcist</h2>

        <!-- Linha com Name, XID e CAT-->
        <div class="flex gap-4">
          <div class="flex-1">
            <label for="name" class="block text-sm">Name</label>
            <input @bind="character.Name" id="name" type="text" class="w-full bg-black border border-purple-500 text-white p-1 rounded" />
          </div>

          <div class="flex-1">
            <label for="xid" class="block text-sm">XID</label>
            <input @bind="character.CharacterXID" id="xid" type="text" maxlength="4" class="w-full bg-black border border-purple-500 text-white p-1 rounded uppercase" />
          </div>

          <div class="flex-1">
            <label for="xid" class="block text-sm">CAT</label>
            <input @bind="character.CAT" id="xid" type="number" max="7" min="1" class="w-full bg-black border border-purple-500 text-white p-1 rounded" />
          </div>
        </div>

    
    <!-- Linha com Agenda e Blasphemy -->
    <div class="flex gap-4">
      <div class="flex-1">
        <label for="agenda" class="block text-sm">Agendas</label>
        <input id="agenda" type="text" class="w-full bg-black border border-purple-500 text-white p-1 rounded" />
      </div>
    
    <div class="flex-1">
        <label for="blasphemy" class="block text-sm">Blasphemies</label>
        <input id="blasphemy" type="text" class="w-full bg-black border border-purple-500 text-white p-1 rounded" />
       </div>
    </div>
    
    <!-- Linha com Gender,-- Height e Weight -->
    <div class="flex gap-4">
      <div class="flex-1">
        <label for="gender" class="block text-sm">Gender</label>
        <input @bind="character.Gender"  id="gender" type="text" class="w-full bg-black border border-purple-500 text-white p-1 rounded" />
      </div>

      <div class="flex-1">
        <label for="height" class="block text-sm">Height</label>
        <input @bind="character.Heigth" id="height" type="number" maxlength="4" class="w-full bg-black border border-purple-500 text-white p-1 rounded uppercase" />
      </div>

      <div class="flex-1">
        <label for="weight" class="block text-sm">Weight</label>
        <input @bind="character.Weigth" id="weight" type="number" max="7" min="0" class="w-full bg-black border border-purple-500 text-white p-1 rounded" />
      </div>
    </div>

    <!-- Linha com Eyes e Hair -->
    <div class="flex gap-4">
      <div class="flex-1">
        <label for="eyes" class="block text-sm">Eyes</label>
        <input id="eyes" type="text" class="w-full bg-black border border-purple-500 text-white p-1 rounded" />
      </div>
    
    <div class="flex-1">
        <label for="hair" class="block text-sm">Hair</label>
        <input @bind="character.HairColor" id="hair" type="text" class="w-full bg-black border border-purple-500 text-white p-1 rounded" />
       </div>
    </div>

  </div>


    <div class="border border-white p-2">
      <h2 class="font-bold text-purple-400">Registered Kit</h2>

      <div class="flex gap-2 mt-2"

      <textarea
        class="w-110 h-85 mt-2 p-2 bg-black text-white border border-black resize-none overflow-y-scroll"
        placeholder="Escreva aqui..."></textarea>

      <div class="flex flex-col gap-2">
        <label for="kitpoints" class="block text-sm">Kit Points</label>
        <input @bind="character.KitPoints" id="kitpoints" type="number" max="9" min="0" class="w-full bg-black border border-purple-500 text-white p-1 rounded" />
      
            <div class="flex flex-col gap-2"></div>
        <label for="scrip" class="block text-sm">Scrip</label>
        <input id="scrip" type="number" value="0" min="0" class="w-full bg-black border border-purple-500 text-white p-1 rounded" />

      </div>
    </div> 
   </div> 

    <div class="border border-white p-2">
      <h2 class="font-bold text-purple-400">Agenda Text</h2>
      <textarea
        class="w-full h-85 mt-2 p-2 bg-black text-white border border-black resize-none overflow-y-scroll"
        placeholder="Escreva aqui..."></textarea>
    </div> 
    

    <div class="border border-white p-2">
      <h2 class="font-bold text-purple-400">Exorcist Status</h2>

    </div> 


    <div class="border border-white p-2">
      <h2 class="font-bold text-purple-400">Registered Skills</h2>
        
  <table class="w-full text-left text-white">
    <thead>
      <tr>
        <th class="w-1/4"></th>
        <th class="text-center">0</th>        
        <th class="text-center">1</th>
        <th class="text-center">2</th>
        <th class="text-center">3</th>
        <th class="text-center">4</th>
      </tr>
    </thead>
    <tbody class="divide-y divide-purple-500">
      <tr>
        <td class="py-1">Force</td>
        <td class="text-center"><input type="radio" name="force" value="0" checked /></td>
        <td class="text-center"><input type="radio" name="force" value="1" /></td>
        <td class="text-center"><input type="radio" name="force" value="2" /></td>
        <td class="text-center"><input type="radio" name="force" value="3" /></td>
        <td class="text-center"><input type="radio" name="force" value="4" /></td>

      </tr>
      <tr>
        <td class="py-1">Conditioning</td>
        <td class="text-center"><input type="radio" name="conditioning" value="0" checked /></td>
        <td class="text-center"><input type="radio" name="conditioning" value="1" /></td>
        <td class="text-center"><input type="radio" name="conditioning" value="2" /></td>
        <td class="text-center"><input type="radio" name="conditioning" value="3" /></td>
        <td class="text-center"><input type="radio" name="conditioning" value="4" /></td>

      </tr>
            <tr>
        <td class="py-1">Coordination</td>
        <td class="text-center"><input type="radio" name="coordination" value="0" checked /></td>
        <td class="text-center"><input type="radio" name="coordination" value="1" /></td>
        <td class="text-center"><input type="radio" name="coordination" value="2" /></td>
        <td class="text-center"><input type="radio" name="coordination" value="3" /></td>
        <td class="text-center"><input type="radio" name="coordination" value="4" /></td>

      </tr>
            <tr>
        <td class="py-1">Covert</td>
        <td class="text-center"><input type="radio" name="covert" value="0" checked /></td>
        <td class="text-center"><input type="radio" name="covert" value="1" /></td>
        <td class="text-center"><input type="radio" name="covert" value="2" /></td>
        <td class="text-center"><input type="radio" name="covert" value="3" /></td>
        <td class="text-center"><input type="radio" name="covert" value="4" /></td>

      </tr>
            <tr>
        <td class="py-1">Interfacing</td>
        <td class="text-center"><input type="radio" name="interfacing" value="0" checked /></td>
        <td class="text-center"><input type="radio" name="interfacing" value="1" /></td>
        <td class="text-center"><input type="radio" name="interfacing" value="2" /></td>
        <td class="text-center"><input type="radio" name="interfacing" value="3" /></td>
        <td class="text-center"><input type="radio" name="interfacing" value="4" /></td>

      </tr>
            <tr>
        <td class="py-1">Investigation</td>
        <td class="text-center"><input type="radio" name="investigation" value="0" checked /></td>
        <td class="text-center"><input type="radio" name="investigation" value="1" /></td>
        <td class="text-center"><input type="radio" name="investigation" value="2" /></td>
        <td class="text-center"><input type="radio" name="investigation" value="3" /></td>
        <td class="text-center"><input type="radio" name="investigation" value="4" /></td>

      </tr>
            <tr>
        <td class="py-1">Surveillance</td>
        <td class="text-center"><input type="radio" name="surveillance" value="0" checked /></td>
        <td class="text-center"><input type="radio" name="surveillance" value="1" /></td>
        <td class="text-center"><input type="radio" name="surveillance" value="2" /></td>
        <td class="text-center"><input type="radio" name="surveillance" value="3" /></td>
        <td class="text-center"><input type="radio" name="surveillance" value="4" /></td>

      </tr>
            <tr>
        <td class="py-1">Negotiation</td>
        <td class="text-center"><input type="radio" name="negotiation" value="0" checked /></td>
        <td class="text-center"><input type="radio" name="negotiation" value="1" /></td>
        <td class="text-center"><input type="radio" name="negotiation" value="2" /></td>
        <td class="text-center"><input type="radio" name="negotiation" value="3" /></td>
        <td class="text-center"><input type="radio" name="negotiation" value="4" /></td>

      </tr>
            <tr>
        <td class="py-1">Authority</td>
        <td class="text-center"><input type="radio" name="authority" value="0" checked /></td>
        <td class="text-center"><input type="radio" name="authority" value="1" /></td>
        <td class="text-center"><input type="radio" name="authority" value="2" /></td>
        <td class="text-center"><input type="radio" name="authority" value="3" /></td>
        <td class="text-center"><input type="radio" name="authority" value="4" /></td>

      </tr>
            <tr>
        <td class="py-1">Connection</td>
        <td class="text-center"><input type="radio" name="connection" value="0" checked /></td>
        <td class="text-center"><input type="radio" name="connection" value="1" /></td>
        <td class="text-center"><input type="radio" name="connection" value="2" /></td>
        <td class="text-center"><input type="radio" name="connection" value="3" /></td>
        <td class="text-center"><input type="radio" name="connection" value="4" /></td>

      </tr>
    </tbody>
  </table>


    </div> 
      
      

    <div class="border border-white p-2">
      <h2 class="font-bold text-purple-400">Blasphemy Text</h2>
      <textarea
        class="w-full h-85 mt-2 p-2 bg-black text-white border border-black resize-none overflow-y-scroll"
        placeholder="Escreva aqui..."></textarea>
    </div>


        
        <div class="col-span-3 justify-end mt-4">
            <button type="submit" class="bg-purple-500 text-black font-bold px-6 py-2 rounded">REGISTER</button>
        </div>
        
</div>
</EditForm>

@code {
      private CreateCharacterDto character = new();
      // private Guid userId = UserSession.UserId;

      private async Task RegisterExorcist()
  {
      // Verifique se o UserId está definido
        if (UserSession.UserId == null)
        {
            // Exiba mensagem ou redirecione para login
            Console.WriteLine("Usuário não identificado.");
            return;
        }

      var response = await Http.PostAsJsonAsync(
          $"api/User/Character/create/{UserSession.UserId}", character


      );

        if (response.IsSuccessStatusCode)
        {
            Console.WriteLine("Registrado com sucesso!");
        }
        else
        {
            Console.WriteLine("Erro ao registrar.");
            Console.WriteLine($"{UserSession.UserId}");
        }
  }
  }