@page "/Sin-Registry"

<main>
  <div class="flex min-h-screen min-w-full flex-row justify-center items-center bg-black">
    <img src="wip.png" alt="Work in Progress" class="mx-auto" />
  </div>
  <div class="flex justify-center bg-black text-purple-800">
    <h1 class="justify-bottom text-x1 text-white font-bold">This page is currently under construction by our wonderful team of developers, please be patient while we develop more incredible features for you all!</h1>
  </div>
</main>
