@page "/Sin-Registry"

<main>
  <div class="flex min-h-screen min-w-full flex-row justify-start bg-black text-purple-800">
    <h1 class="justify-center text-9xl text-white font-bold">WIP</h1>
    </div>
</main>
